<div id="landing_page" class="landing-page">
  <div class="landing-page__background"></div>
  <div class="landing-page__content">
    <h1 class="landing-page__title">
      Работа мечты<br>
      и идеальный сотрудник<br>
      всё в одном месте!
    </h1>
    <p class="landing-page__description">
      Размещайте вакансии, откликайтесь на предложения и находите<br>
      лучшие возможности для карьеры и биззнеса.
    </p>
    <div class="landing-page__buttons">
      <button class="landing-page__button landing-page__button--search">Поиск работы</button>
      <button class="landing-page__button landing-page__button--post">Разместить вакансию</button>
    </div>
  </div>
</div>
