<form class="form" name="registration_user">
    <div class="form__back">&#10094;</div>
    <div class="form__name">Как вас зовут?</div>
    <div class="form__input">
        <input type="text" placeholder="Имя" name="first_name" value="{{firstName}}" pattern="^[а-яА-Яa-zA-Z\s\-]+$" required>
        <input type="text" placeholder="Фамилия" name="last_name" value="{{lastName}}" pattern="^[а-яА-Яa-zA-Z\s\-]+$" required>
    </div>
    <div class="form__error">

    </div>
    <button type="submit" class="form__button" name="submit">Регистрация</button>
</form>