<div id="resume_catalog_page" class="resume_catalog_page">
    <form class="search-container" name="resume_search">
        <div class="info__search__container">
            <svg class="info__search__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                    stroke="#AAAAB3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <input type="text" placeholder="Поиск по резюме и навыкам" name="search" value="{{search}}">
            <button type="submit" class="info__search__button">Найти</button>
        </div>
    </form>

    <div class="resume_catalog__page">
        <div class="resume_filter"></div>
        <div class="resume_catalog__wrapper">
            <div class="resume_list"></div>
            <div class="job__button_second" id="pagination_button">Показать ещё</div>
        </div>
    </div>
</div>