<div class="chat-item" id="chat-{{id}}">
    <div class="chat-item__avatar">
        {{> partials/logo logo=user.avatar_path }}
    </div>
    <div class="chat-item__info">
        <div class="chat-item__name">
            {{vacancy_title}}
        </div>
        <div class="chat-item__addition">
            {{user.name}}
        </div>
    </div>
</div>