<div class="chat-item">
    <div class="chat-item__avatar">
        {{> partials/logo logo=image }}
    </div>
    <div class="chat-item__info">
        <div class="chat-itme__name">
            {{name}}
        </div>
        <div class="chat-item__addition">
            {{addition}}
        </div>
    </div>
</div>