<div class="header">
    <div class="header__name"><b>Resu<span style="color:#F32526">Match</span></b></div>
    <div class="header__links">
        <div class="header__link" id="vacancy_catalog_link">Вакансии</div>
        <div class="header__link" id="resume_catalog_link">Соискатели</div>
        {{!-- <div class="header__link">Компании</div> --}}
    </div>
    <div class="header__auth">
        {{#if authorized}}
        <div class="header__chat">
            <svg class="header__notifications-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots"
                viewBox="0 0 16 16">
                <path
                    d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                <path
                    d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2" />
            </svg>
        </div>
        <!-- Колокольчик уведомлений -->
        <div class="header__notifications" id="notifications-bell">
            <svg class="header__notifications-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path d="M13.73 21a2 2 0 0 1-3.46 0" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            <div class="header__notifications-badge {{#unless unreadCount}}hidden{{/unless}}" id="notifications-badge">
                {{unreadCount}}
            </div>
            <!-- Контейнер для уведомлений будет добавлен здесь -->
        </div>
        {{#if isEmployer}}
        <div class="header__button">Создать вакансию</div>
        {{else}}
        <div class="header__button">Создать резюме</div>
        {{/if}}
        <div class="header__profile">
            <img src="/icons-user-profile.svg" class="header__profile-icon" alt="Профиль" />

            <div class="header__dropdown">
                <div class="header__dropdown__item" id="profile_page_link">Профиль</div>
                <div class="header__dropdown__item" id="edit_profile_page_link">Настройки</div>
                <div class="header__dropdown__divider--mobile"></div>
                <div class="header__dropdown__item--mobile" id="mobile_vacancy">Вакансии</div>
                <div class="header__dropdown__item--mobile" id="mobile_resume">Соискатели</div>
                {{#if isEmployer}}
                <div class="header__dropdown__item--mobile" id="mobile_create">Создать вакансию</div>
                {{else}}
                <div class="header__dropdown__item--mobile" id="mobile_create">Создать резюме</div>
                {{/if}}
                <div class="header__dropdown__divider"></div>
                <div class="header__dropdown__item header__dropdown__item--logout" id="logout_profile_link">Выход</div>
            </div>
        </div>
        {{else}}
        <div class="header__button">Создать резюме</div>
        <div class="header__link header__login">Войти</div>
        {{/if}}
    </div>
</div>