<div class="dialog__header">
    <div class="dialog__icon dialog__icon--warning">
        <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke="#0070FF"
                stroke-width="2">
                <path d="M19 22h-1a2 2 0 01-2-2v-5a1 1 0 00-1-1h-1m1.5-5a.5.5 0 100 1 .5.5 0 000-1" />
                <path
                    d="M26.607 5.393c5.857 5.858 5.857 15.356 0 21.214-5.858 5.857-15.356 5.857-21.214 0-5.857-5.858-5.857-15.356 0-21.214 5.858-5.857 15.356-5.857 21.214 0" />
            </g>
        </svg>
    </div>
    <div class="dialog__title">
        Требуется резюме
    </div>
</div>
<div class="dialog__body">
    <div class="dialog__message">
        Создайте хотя бы одно резюме в профиле, чтобы откликнуться на вакансию.
    </div>
    <div class="dialog__buttons">
        <div class="job__button">
            Создать
        </div>
    </div>
</div>