<div id="job_catalog_page">

    <div class="info">
        <div class="info__welcome"><b>Твоя карьера - наш приоритет</b></div>
        <form class="info__search" name="vacancy_search">
            <div class="info__search__container">
                <svg class="info__search__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z"
                        stroke="#AAAAB3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <input type="text" placeholder="Профессия, должность или компания" name="search" value="{{search}}">
                <button type="submit" class="info__search__button">Найти</button>
            </div>
        </form>

        <div class="info__footer">
            Нет резюме? Используй наш <a class="info__link">конструктор</a>
        </div>
    </div>
    <div class="job_category">
        <div class="job_category__name">Специализация</div>
        <div class="job_category__slider">
            <div class="job_category__badge">Автомобильный бизнес</div>
            <div class="job_category__badge">Административный персонал</div>
            <div class="job_category__badge">Безопасность</div>
            <div class="job_category__badge">Высший и средний менеджмент</div>
            <div class="job_category__badge">Добыча сырья</div>
            <div class="job_category__badge">Домашний, обслуживающий персонал</div>
            <div class="job_category__badge">Закупки</div>
            <div class="job_category__badge">Информационные технологии</div>
            <div class="job_category__badge">Искусство, развлечения, массмедиа</div>
            <div class="job_category__badge">Маркетинг, реклама, PR</div>
            <div class="job_category__badge">Медицина, фармацевтика</div>
            <div class="job_category__badge">Наука, образование</div>
            <div class="job_category__badge">Продажи, обслуживание клиентов</div>
            <div class="job_category__badge">Производство, сервисное обслуживание</div>
            <div class="job_category__badge">Рабочий персонал</div>
            <div class="job_category__badge">Розничная торговля</div>
            <div class="job_category__badge">Сельское хозяйство</div>
            <div class="job_category__badge">Спортивные клубы, фитнес, салоны красоты</div>
            <div class="job_category__badge">Стратегия, инвестиции, консалтинг</div>
            <div class="job_category__badge">Страхование</div>
            <div class="job_category__badge">Строительство, недвижимость</div>
            <div class="job_category__badge">Транспорт, логистика, перевозки</div>
            <div class="job_category__badge">Туризм, гостиницы, рестораны</div>
            <div class="job_category__badge">Управление персоналом, тренинги</div>
            <div class="job_category__badge">Финансы, бухгалтерия</div>
            <div class="job_category__badge">Юристы</div>
        </div>
    </div>
    
    <!-- Контейнер для карусели зарплат -->
    <div class="salary_carousel_container">
    </div>
    
    <div class="page">

        <div class="jobs_filter">
        </div>
        <div class="job_catalog__wrapper">
            {{#if search}}
                {{#if empty}}
                {{else}}
                <div class="job_catalog__search">Вакансии по запросу: {{search}}</div>
                {{/if}}
            {{/if}}
            <div class="jobs_list">

            </div>
            <div class="job__button_second" id="pagination_button">Показать ещё</div>
        </div>
    </div>
</div>
