.poll
    display: flex
    gap: 20px
    padding: 10px
    border-left: 3px solid #0070ff
    position: relative
    border-radius: 5px

    &__close
        position: absolute
        right: 20px
        font-size: 20px
        cursor: pointer
    
    &__section
        display: flex
        flex-direction: column
        gap: 20px
    
    &__info
        display: flex
        flex-direction: column
        gap: 10px
    
    &__header
        font-size: 20px
        font-weight: 600
    
    &__stars
        display: flex
        flex-direction: row
        gap: 5px