<div class="salary-carousel" id="salary_carousel">
    {{!-- <div class="salary-carousel__header">
        <h2 class="salary-carousel__title">Зарплаты по специализациям</h2>
    </div> --}}
    
    <div class="salary-carousel__container">
        <div class="salary-carousel__slides" id="salary_carousel_slides">
        </div>
    </div>

    {{!-- <div class="salary-carousel__controls">
        <button class="salary-carousel__btn" id="salary_carousel_prev">‹</button>
        <button class="salary-carousel__btn" id="salary_carousel_next">›</button>
    </div>

    <div class="salary-carousel__indicator">
        Прокрутите горизонтально или используйте стрелки для навигации
    </div> --}}
</div>
